body {
    background-color: #f4f6f9;
}

#sidebar-overlay {
    background-color: rgba(0,0,0,.25);
}

/* --- Custom Navbar --- */
#nav-button {
    border-radius: 25px;
    color: #fff;
    transition: .3s;
    background: #4E31AF;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #4C3AAC;
}

#nav-button:hover,
#nav-button:focus {
    background: #4E31AF;
}

#card-search {
    position: absolute;
    z-index: 0;
    top: 3.5em;
    border-radius: 0;
    width: 27.25rem;
}

#card-search ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#card-search ul a {
    background-color: #fff;
    display: block;
    padding: 5px;
    color: #454545;
    transition: .1s;
}

#card-search ul a:hover,
#card-search ul a:focus {
    background-color: #f4f6f9; 
}
#card-search ul .fas {
    display: none;
    float: right;
    font-size: .8em;
    margin-top: 5px;
    color: #6c757d !important;
}

.dropdown-menu {
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border: 0;
}

.dropdown-item:not(.dropdown-header):not(.dropdown-footer):hover,
.dropdown-item:not(.dropdown-header):not(.dropdown-footer):focus {
    background-color: #6610f2;
    color: #fff;
}

.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 14px;
    position: absolute;
    top: -8px;
}
.dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 14px;
    position: absolute;
    top: -7px;
}

.dropdown-menu-right:before, .dropdown-menu-right:after {
    left: auto;
    right: 10px;
}

/* --- Banner Area --- */
.home_banner_area {
    z-index: 1;
    background: linear-gradient(#333399, #8E2DE2);
}

.home_banner_area .banner_inner {
    width: 100%; 
}

.home_banner_area .banner_inner .home_left_img {
    padding-top: 230px;
    padding-bottom: 230px; 
}

.home_banner_area .banner_inner .col-lg-6 {
    vertical-align: middle;
    align-self: center; 
}

.home_banner_area .banner_inner .banner_content {
    text-align: left;
    color: #fff;
    margin-left: 70px; 
}

.home_banner_area .banner_inner .banner_content h2 {
    margin-top: 0px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
    margin-bottom: 20px; 
    text-shadow: 1px 3px rgba(0,0,0,.8);
}

.home_banner_area .banner_inner .banner_content p {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    margin-bottom: 20px; 
    text-shadow: 1px 1px rgba(0,0,0,.8);
}

.home_banner_area .banner_inner .banner_content .watch_video {
    margin: 0 30px;
    font-size: 12px;
    text-transform: uppercase; 
}

.intro {
    height: 29em; 
    overflow: hidden;
}

.home_banner_area {
    margin-top: -11em;
}

#started {
    border: 3px solid #732FCC;
    border-radius: 25px;
    color: #fff;
    box-shadow: 1px 10px 10px rgba(0,0,0,.25);
    transition: .3s;
    background: #4E31AF;
}

#started:hover,
#started:focus {
    border: 3px solid #fff;
    background: #4E31AF;
}

@media (max-width: 576px) {
    .home_banner_area .banner_inner .banner_content h2 { 
        margin-top: -350px;
        text-align: center;
        margin-left: -2em;
        font-size: 30px;
        line-height: 42px;
    }

    .home_banner_area .banner_inner .banner_content p {
        display: none;
    }

    .home_banner_area .banner_inner .banner_content .btn {
        display: inline-block;
        width: 72.5%;
    }
    .intro { 
        height: 23em;
    }
    #started { 
        margin-left: .25em;
    }
    #card-search {
        position: absolute;
        z-index: 0;
        top: 3.5em;
        left: 3px;
        border-radius: 0;
    }
}

/* --- Widget Sidebar --- */
#categories .nav.flex-column>li {
    border-bottom: 0;
    margin-top: .5em
}

#most-popular .most-popular-link {
    color: #4E31AF;
}

/* --- Main Footer --- */
#footer {
    background: #532bda;
    padding: 0 0 30px 0;
    color: #212529;
}

#footer .footer-top {
    background: #532bda;
    padding: 60px 0 30px 0;
    border-bottom: 1px solid #3c15c1;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: -5px 0 20px 0;
    padding: 0 0 2px 0;
    line-height: 1;
    color: #D9CAFD;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    line-height: 24px;
    margin-bottom: 30px;
    color: #D9CAFD;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #6610f2;
    color: #D9CAFD;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    opacity: 1;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #6610f2;
    color: #D9CAFD;
    opacity: .8;
}

#footer .footer-top h4 {
    font-weight: bold;
    color: #D9CAFD;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    font-size: 18px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 5px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #D9CAFD;
}

#footer .footer-top .footer-links ul a:hover {
    color: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #D9CAFD;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    display: inline-block;
    border: 1px solid #6610f2;
    border-radius: 0;
    padding: 5px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter button {
    font-size: 14px;
    border: 1px solid #6610f2;
    background: #6610f2;
    border: 0;
    width: 35%;
    margin-top: 0;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1;
}

#footer .footer-top .footer-newsletter button:hover 
#footer .footer-top .footer-newsletter button:focus 
{
    background: #6610f2;
    border: 1px solid #6610f2;
    opacity: .8;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
}

#footer .credits a {
    color: #bfddfe;
}

#footer .credits a:hover {
    color: #f1f7ff;
}

.header-title {
    font-family: 'Rajdhani', sans-serif;
}

.rounded-25 {
   border-radius: 25px;
}

.btn-indigo {
    background: #4E31AF;
    box-shadow: 0 3px 3px rgba(0,0,0, .15);
    color: #fff;
    transition: .3s;
}

.btn-indigo:hover,
.btn-indigo:focus
{
    box-shadow: 0 3px 10px rgba(0,0,0, .15);
    color: #fff;
}

.btn-outline-indigo {
    border: 1px solid #6610f2;
    transition: .3s;
}

.btn-outline-indigo:hover {
    color: #fff;
    border: 1px solid #6610f2;
    background: #6610f2;
}

.border-indigo,
.border-indigo:focus
 {
    border: 1px solid #6610f2;
}

.pagination>li>a.page-link {
    border-radius: 5px;
    margin: .5em;
    transition: .3s;
}
.pagination>li:last-child>a.page-link {
    margin-right: 0;
}
.pagination>li:first-child>a.page-link {
    margin-left: 0;
}
.pagination>li>a.page-link,
.pagination>li>span {
    border: 1px solid #6610f2;
    color: #6610f2;
}

.pagination>li.active>a.page-link {
    border: 1px solid #6610f2;
    background: #6610f2;
    color: #fff;
}
.pagination>li>a.page-link:hover {
    border: 1px solid #6610f2;
    background: #6610f2;
    color: #fff;
}

.card {
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border: 0;
    overflow: hidden;
}

.img-over-home {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    box-shadow: inset 10px 10px 29px 0 rgba(68, 88, 144, 0.5);
    border: 1px solid #24354C;
}

/*--- Articles --- */
.tags {
    padding: 0.5rem 1rem;
    margin-left: 5px;
    position: relative;
    background: linear-gradient(to right, #333399, #8E2DE2);
    color: #fff;
    display: inline-block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

.tags a {
    color: #fff;
}

.tag-javascript {
    background: linear-gradient(to right, #f12711, #f5af19);
}

.tag-css {
    background: linear-gradient(to right, #009FFF, #6dd5ed);
}

.tag-html5 {
    background: linear-gradient(to right, #f12711, #f5af19);
}

.tag-php {
    background: linear-gradient(to right, #523CB0, #4286f4);
}

.tag-text-editor {
    background: linear-gradient(to right, #bdc3c7, #000);
}

.tag-error-code {
    background: linear-gradient(to right, #c31432, #240b36);
}

.over-image-blog {
    height: 300px; 
    overflow: hidden;
}

@media (max-width: 576px) { 
    h1.blog-title {
        font-size: 24px;
    }
    h5.blog-body {
        font-size: 16px;
    }
    p.blog-tools {
        font-size: 16px;
    }
    .over-image-blog {
        height: 200px; 
        overflow: hidden;
    }
}

/* --- Table Of Contents --- */
.toc li a {
    color: #000;
}

.toc li a:hover {
    color: #540CFA;
}

/* --- Single Blog --- */
.single-intro {
    background: linear-gradient(to bottom, #333399, #6a0dbb);
    min-height: 300px;
    padding-top: 150px;
    color: #fff;
}

.single-blog p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    /*text-indent: 1em;*/
}

.single-blog img {
    border-radius: .25rem;
}

.sticky-container {
    position: relative;
    padding-left: 80px;
}
.sticky-container .sticky-shares {
    position: absolute;
    top: 0;
    left: 0;
}
.sticky-shares a {
    display: block;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fbfbfd;
    color: #a7b3c6;
    border: 1px solid #eceef2;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.sticky-shares a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.sticky-shares a.share-facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
}
.sticky-shares a.share-twitter:hover {
    color: #55acee;
    border-color: #55acee;
}
.sticky-shares a.share-google-plus:hover {
    color: #dd4b39;
    border-color: #dd4b39;
}
.sticky-shares a.share-pinterest:hover {
    color: #ff0000;
    border-color: #ff0000;
}
.sticky-shares a.share-linkedin:hover {
    color: #007bb5;
    border-color: #007bb5;
}

/* --- Portfolio --- */
#portfolio {
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #007bff;
    border-radius: 50px;
    text-transform: uppercase;
    background: #ecf5ff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: #007bff;
    color: #fff;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
    color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #e2effe;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #007bff;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
    background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
    background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}